/* CSS comment style applied based on this:
   https://github.com/necolas/idiomatic-css */

/* ==========================================================================
   Root/global styling plus variables and basic alignment
   ========================================================================== */

:root {
    --main-bg-color: #c8e776;
    --secondary-bg-color: #ffffff;
    --tertiary-bg-color: #9ec23a;
    --main-text-color: black;
    --secondary-text-color: #48003b;
}

* {
    margin: 0;
    padding: 0;
}

#flex-container {
    display: flex;
    flex-direction: column;

    /* fallback height */
    min-height: 100vh;

    /* new small viewport height for modern browsers */
    min-height: 100svh;
}

#flex-container > footer {
    margin-top: auto;
}

/* ==========================================================================
   Top/header section
   ========================================================================== */

/* Headers
   ========================================================================== */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('/static/images/banner.png');
    height: 600px;
    background-position: bottom;
    background-size: cover;
    color: var(--secondary-bg-color);
}

/* Search
   ========================================================================== */

.search-bar {
    display: flex;
}

.search-bar input {
    min-width: 300px;
    padding: 12px 24px;
    border-radius: 24px;
    font-size: 16px;
    border: 0px;
}

/* Navigation
   ========================================================================== */

/* Alter header text and nav dropdown on large screens so the dropdown can fold 
   over the top */
/* Approximates Bootstrap lg breakpoint without using SASS */
@media (max-width: 991.98px) {
    #navbarSupportedContent {
        background-color: black;
        opacity: 90%;
        border-radius: 10px;
    }

    #header-text1 {
        display: none;
    }
}

.navbar-toggler {
    color: var(--secondary-bg-color);
}

.nav-item a {
    color: var(--secondary-bg-color);
    text-decoration: none;
    font-weight: bold;
}

.nav-item .dropdown-item {
    color: #48003b;
    box-sizing: border-box;
}

.nav-item a:hover {
    color: var(--main-bg-color);
    border-bottom: 1px solid;
    box-sizing: border-box !important;
    transition: all 0.15s ease-in;
}

.navbar-brand {
    color: var(--main-bg-color);
}

.navbar-brand:hover {
    color: var(--secondary-bg-color);
}

.nav-item:hover .dropdown-content {
    display: block;
    box-sizing: border-box;
}

/* ==========================================================================
   Text, headings, paragraphs etc
   ========================================================================== */
h1 {
    color: var(--secondary-text-color);
}

header div h1 {
    color: var(--secondary-bg-color);
}

.copy {
    width: 70%;
    margin-left: 15%;
    margin-bottom: 20px;
}

p,
li {
    color: var(--main-text-color);
}

/* ==========================================================================
   Sections, containers, divs etc
   ========================================================================== */

/* ==========================================================================
   Buttons, links, images
   ========================================================================== */
.logo img {
    height: 30px;
    float: left;
    padding-left: 30px;
    padding-right: 20px;
}

.card img {
    object-fit: cover;
}

.card-img-top {
    height: 15vw;
    object-fit: cover;
}
.img-fluid {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.link,
.card-link {
    color: var(--secondary-text-color);
}

.link:hover {
    color: rgb(114, 112, 112);
}

.btn {
    border: 1px solid;
    border-color: var(--main-bg-color);
    color: var(--main-bg-color);
    text-decoration: none;
    border-radius: 12px;
}

.btn-half:hover {
    background-color: var(--main-bg-color);
    color: white;
    transition: all 0.5s ease-in;
}

.btn-outline-light {
    color: var(--secondary-text-color);
    background-color: var(--main-bg-color);
}

.btn-outline-light:hover {
    border-color: var(--main-bg-color);
}

.btn-dark {
    background-color: var(--tertiary-bg-color);
    color: var(--secondary-text-color);
    border-color: var(--tertiary-bg-color);
}

.btn-dark:hover {
    background-color: var(--tertiary-bg-color);
}

.arranging {
    text-align: justify;
}

/* Icons
   ========================================================================== */

.bi {
    color: var(--secondary-text-color);
    font-size: 20px;
}

.bi:hover {
    color: rgb(150, 145, 145);
}

/* ==========================================================================
   Footer, bottom section
   ========================================================================== */

footer {
    display: block;
    background-color: var(--main-bg-color);
}

footer.link,
h4,
p {
    color: var(--secondary-text-color);
}

.copyright {
    padding: 50px;
}

/* ==========================================================================
   Login
   ========================================================================== */

/* for map page */
#map {
    position: relative;
    top: 100%;
    width: 100vw;
    height: 400px;
}

.backdrop-blur {
    backdrop-filter: blur(0.65em);
    background-color: rgba(255, 255, 255, 0.6);
}
.rounded-xl {
    border-radius: 1rem;
}
.shadow-custom {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.hover-effect:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(1em);
}

.badge {
    display: inline-block;
    min-width: 20px;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    background-color: rgb(243, 129, 36);
    border-radius: 12px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
}
.badge.visible {
    visibility: visible;
    opacity: 1;
}

.badge.hidden {
    visibility: hidden;
    opacity: 0;
}

.post-card {
    background-color: #f8f9fa;
    /* Light grey background */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Smooth transition for transform and box-shadow */
    margin: 10px; /* Add space between cards */
}

.post-card:hover {
    transform: scale(1.01); /* Slightly increase the size */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a very subtle shadow effect */
}


.comment-card {
    background-color: #ffffff;
    /* White background */
    margin: 10px 20px;
    border-radius: 15px;
    border: 1px solid #e0e0e0;
    /* Light grey border */
    width: 80%;
    /* Make the comment div smaller */
}

.comment-body {
    padding: 10px;
}

.comment-header {
    background-color: #ffffff;
    /* White background for comment header */
    padding: 5px 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: 1px solid #e0e0e0;
    /* Light grey border */
}

.comment-content {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.comment-form {
    margin: 10px 20px;
}

.translate-box {
    background-color: #007bff; /* Blue background for clarity and communication */
    color: #ffffff; /* White text color for contrast */
    border: 1px solid #0056b3; /* Slightly darker border for definition */
    padding: 10px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.translate-box:hover {
    background-color: #0056b3; /* Darker blue on hover for interaction feedback */
}

/* Specific style for the translate button within the post card */
.post-card .btn-outline-secondary {
    color: #007bff; /* Blue text color */
    border-color: #007bff; /* Blue border */
    background-color: transparent; /* Transparent background */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.post-card .btn-outline-secondary:hover {
    background-color: #007bff; /* Blue background on hover */
    color: #ffffff; /* White text color on hover */
}

.avatar {
    width: 70px;
    height: 70px;
}
