/* CSS comment style applied based on this: https://github.com/necolas/idiomatic-css */

/* ==========================================================================
   Root/global styling and basic alignment
   ========================================================================== */

/* Maybe make some of these global variables */
:root {
    --main-bg-color: #9bc248;
    --secondary-bg-color: white;
}

* {
    margin: 0;
    padding: 0;
}

.row {
    margin: 0 auto;
}

#flex-container {
    display: flex;
    flex-direction: column;

    /* fallback height */
    min-height: 100vh;

    /* new small viewport height for modern browsers */
    min-height: 100svh;
}

#flex-container > footer {
    margin-top: auto;
}

/* .col-md-3 {
    padding: 40px;
} */

/* ==========================================================================
   Top/header section
   ========================================================================== */

/* Headers
   ========================================================================== */

/* commenting this out so the 'looking to spice...' part can move with scroll */
/* 
.header_part {
    /* position: absolute; */
/* width: 1140px; */
/* top: 40%;
    left: 20%;
} */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('https://t3.ftcdn.net/jpg/02/52/38/80/360_F_252388016_KjPnB9vglSCuUJAumCDNbmMzGdzPAucK.jpg');
    height: 500px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: var(--secondary-bg-color);
}

/* Search
   ========================================================================== */

.search-bar {
    display: flex;
    justify-content: center;
}

.search-bar input {
    width: 50%;
    min-width: 300px;
    padding: 12px 24px;
    border-radius: 24px;
    font-size: 16px;
    border: 0px;
    outline: none;
}

#search {
    margin: 30px;
}

/* Navigation
   ========================================================================== */

.top-nav-area {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-item {
    display: inline-block;
    margin-left: 20px;
    margin-top: 10px;
    position: relative; /* relative positioning to .nav-item */
}

.nav-item a {
    color: white;
    text-decoration: none;
    font-size: 90%;
    font-weight: bold;
}

.nav-item a:hover {
    color: var(--main-bg-color);
    border-bottom: 2px solid;
    border-color: var(--main-bg-color);
    transition: all 0.5s ease-in;
    padding: 15px 0;
}

.navbar-brand {
    color: var(--secondary-bg-color);
}

.navbar-brand:hover {
    color: var(--main-bg-color);
}

.nav-item:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--secondary-bg-color);
    z-index: 1;
    border: 1px solid #ccc;
    padding: 10px;
    transition: opacity 0.3s ease-in-out; /* Add transition for smooth opening and closing */
    opacity: 0; /* Initially set opacity to 0 */
}

.dropdown-content a {
    color: var(--secondary-bg-color);
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}

.nav-item:hover .dropdown-content,
.dropdown-content:hover {
    display: block;
    opacity: 1; /* Set opacity to 1 when dropdown opens */
}

/* ==========================================================================
   Text, headings, paragraphs etc
   ========================================================================== */

h1 {
    color: rgb(229, 220, 220);
}

/* not sure what this is */
h3:after {
    width: 100px;
    height: 2px;
    background-color: var(--main-bg-color);
    display: block;
    content: ' ';
    margin: 0 auto;
    margin-top: 30px;
}

.copy {
    width: 70%;
    margin-left: 15%;
    margin-bottom: 20px;
}

.features i {
    font-size: 40px;
    margin-left: 40%;
    margin-bottom: 20px;
}

.features h3 {
    margin-top: 50px;
    margin-bottom: 30px;
}

.features h4 {
    margin-left: 55px;
}

/* ==========================================================================
   Buttons, links
   ========================================================================== */
.logo img {
    height: 100px;
    float: left;
    margin-top: 15px;
    margin-left: 15px;
}

.link {
    color: black;
}

.link:hover {
    color: rgb(56, 56, 56);
}

.btn {
    border: 1px solid;
    border-color: var(--main-bg-color);
    padding: 10px 30px;
    color: var(--main-bg-color);
    text-decoration: none;
    border-radius: 12px;
    margin-right: 15px;
}

.button-awesome {
    margin-top: 40px;
}

.btn-half:hover {
    background-color: var(--main-bg-color);
    color: white;
    transition: all 0.5s ease-in;
}

.arranging {
    text-align: justify;
}

/* Icons
   ========================================================================== */

.bi {
    color: rgb(0, 0, 0);
}

.bi:hover {
    color: rgb(56, 56, 56);
}

/* ==========================================================================
   Footer, bottom section
   ========================================================================== */

footer {
    display: block;
    padding: 150px;
    background-color: var(--main-bg-color);
    /* position: absolute;
    bottom: 0; */
}

.copyright {
    padding-top: 70px;
}

/* ==========================================================================
   Login
   ========================================================================== */

/* CSS for login/ sign in form */
body.login {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://t3.ftcdn.net/jpg/02/52/38/80/360_F_252388016_KjPnB9vglSCuUJAumCDNbmMzGdzPAucK.jpg');
    background-size: cover;
    background-position: center;
}

#main-holder {
    clear: both;
    width: 200px; /* Adjust the width as needed */
    height: auto;
    padding: 50px;
    background-size: cover;
    background-color: white;
    background-position: center; /* Center the background image */
    border-radius: 7px;
    box-shadow: 0px 0px 5px 2px black;
    text-align: center;
    margin: 150px auto; /* Center horizontally */
}

#login-header {
    color: black;
}

#login-error-msg-holder {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
}

/* Error message. By default it's transparent, but the opacity is controlled
  by JavaScript */

#login-error-msg {
    width: 63%;
    text-align: center;
    margin: 10;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #8a0000;
    border: 1px solid #8a0000;
    background-color: #e58f8f;
    opacity: 0;
}

#error-msg-second-line {
    display: block;
}

/* -------------------------------------------------------------- */

/* Adjust the positioning of the login form inside the last row of the
  main grid */

#login-form {
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
}

/* Style the login form fields' placeholders */

.login-form-field::placeholder {
    color: #3a3a3a;
}

/* Style the login form fields (username and password) */

.login-form-field {
    border: none;
    border-bottom: 1px solid #3a3a3a;
    margin-bottom: 15px;
    border-radius: 3px;
    outline: none;
    padding: 0px 0px 5px 5px;
}

/* Style the login button */

#login-form-submit {
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
}

.alert {
    padding: 20px;
    margin: 5px;
    color: #970020;
    background-color: #ffd5de;
}

/* for map page */
#map {
    position: relative;
    top: 100%;
    width: 1860px;
    height: 400px;
}
