/* CSS comment style applied based on this: https://github.com/necolas/idiomatic-css */

/* ==========================================================================
   Root/global styling and basic alignment
   ========================================================================== */

/* Using global variables for colours to make it easier*/
:root {
    --main-bg-color: #c8e776;
    --secondary-bg-color: #ffffff;
    --main-text-color: black;
    --secondary-text-color: #48003b;
}

* {
    margin: 0;
    padding: 0;
}

/* Not sure if needed */
.row {
    margin: 0 auto;
}

#flex-container {
    display: flex;
    flex-direction: column;

    /* fallback height */
    min-height: 100vh;

    /* new small viewport height for modern browsers */
    min-height: 100svh;
}

#flex-container > footer {
    margin-top: auto;
}

/* ==========================================================================
   Top/header section
   ========================================================================== */

/* Headers
   ========================================================================== */

/* commenting this out so the 'looking to spice...' part can move with scroll */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('https://t3.ftcdn.net/jpg/02/52/38/80/360_F_252388016_KjPnB9vglSCuUJAumCDNbmMzGdzPAucK.jpg');
    /* want to come back to this and change opacity of background image only */
    /* opacity: .5; */
    height: 500px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: var(--secondary-bg-color);
}

/* Search
   ========================================================================== */

.search-bar {
    display: flex;
}

.search-bar input {
    min-width: 300px;
    padding: 12px 24px;
    border-radius: 24px;
    font-size: 16px;
    border: 0px;
}

/* restore this after other bootstrap nav is done */
/* #search {
    margin-right: 20px;
} */

/* Navigation
   ========================================================================== */

/* hide header text on large screens so the dropdown can fold over the top */
@media (max-width: 991.98px) {
    #navbarSupportedContent {
        background-color: black;
        opacity: 90%;
    }
    /* 
    #header-text1 {
        display: none;
    } */
}

.navbar-toggler {
    color: var(--secondary-bg-color);
}

/* COMMENTED OUT FOR TESTING */
.nav-item a {
    color: var(--secondary-bg-color);
    text-decoration: none;
    font-weight: bold;
}

/* can't change colour when i change this to a  variable */
.nav-item .dropdown-item {
    color: #48003b;
    box-sizing: border-box;
}

.nav-item a:hover {
    color: var(--main-bg-color);
    border-bottom: 1px solid;
    box-sizing: border-box !important;
    transition: all 0.15s ease-in;
    /* border-color: var(--main-bg-color); */
}

.navbar-brand {
    color: var(--main-bg-color);
}

.navbar-brand:hover {
    color: var(--secondary-bg-color);
}

.nav-item:hover .dropdown-content {
    display: block;
    box-sizing: border-box;
}

/* Commenting this out for now, hard to implement with responsive nav stuff rn */
/* .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    border: 1px solid #ccc;
    border-radius: 5%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 0.5s ease-in-out; /* Add transition for smooth opening and closing */
/* Initially set opacity to 0 
} */

/* .dropdown-content a {
    color: var(--secondary-bg-color);
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
    box-sizing: border-box;
} */

/* don't think this is doing anything */
/* .nav-item:hover .dropdown-content,
.dropdown-content:hover {
    display: block;
} */

/* ==========================================================================
   Text, headings, paragraphs etc
   ========================================================================== */

h1 {
    color: rgb(229, 220, 220);
}

.copy {
    width: 70%;
    margin-left: 15%;
    margin-bottom: 20px;
}

p,
li {
    color: var(--main-text-color);
}

/* ==========================================================================
   Sections, containers, divs etc
   ========================================================================== */

/* ==========================================================================
   Buttons, links, images
   ========================================================================== */
.logo img {
    /* why does height: 100px make the logo work?? */
    height: 100px;
    float: left;
}

.card img {
    object-fit: cover;
}

.link,
.card-link {
    color: var(--secondary-text-color);
}

.link:hover {
    color: rgb(114, 112, 112);
}

.btn {
    border: 1px solid;
    border-color: var(--main-bg-color);
    /* padding: 10px 30px; */
    color: var(--main-bg-color);
    text-decoration: none;
    border-radius: 12px;
    margin-right: 15px;
}

/* .btn-half:hover {
    background-color: var(--main-bg-color);
    color: white;
    transition: all 0.5s ease-in;
} */

.arranging {
    text-align: justify;
}

/* Icons
   ========================================================================== */

.bi {
    color: var(--secondary-text-color);
    font-size: 20px;
}

.bi:hover {
    color: rgb(150, 145, 145);
}

/* ==========================================================================
   Footer, bottom section
   ========================================================================== */

footer {
    display: block;
    /* padding: 150px; */
    background-color: var(--main-bg-color);
    /* position: absolute;
    bottom: 0; */
}

/* is this bad practice? */
footer.link,
h4,
p {
    color: var(--secondary-text-color);
}

.copyright {
    padding: 50px;
}

/* ==========================================================================
   Login
   ========================================================================== */

/* CSS for login/ sign in form */
body.login {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://t3.ftcdn.net/jpg/02/52/38/80/360_F_252388016_KjPnB9vglSCuUJAumCDNbmMzGdzPAucK.jpg');
    background-size: cover;
    background-position: center;
}

#main-holder {
    clear: both;
    width: 200px; /* Adjust the width as needed */
    height: auto;
    padding: 50px;
    background-size: cover;
    background-color: white;
    background-position: center; /* Center the background image */
    border-radius: 7px;
    box-shadow: 0px 0px 5px 2px black;
    text-align: center;
    margin: 150px auto; /* Center horizontally */
}

#login-header {
    color: black;
}

#login-error-msg-holder {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
}

/* Error message. By default it's transparent, but the opacity is controlled
  by JavaScript */

#login-error-msg {
    width: 63%;
    text-align: center;
    margin: 10;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #8a0000;
    border: 1px solid #8a0000;
    background-color: #e58f8f;
    opacity: 0;
}

#error-msg-second-line {
    display: block;
}

/* -------------------------------------------------------------- */

/* Adjust the positioning of the login form inside the last row of the
  main grid */

#login-form {
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
}

/* Style the login form fields' placeholders */

.login-form-field::placeholder {
    color: #3a3a3a;
}

/* Style the login form fields (username and password) */

.login-form-field {
    border: none;
    border-bottom: 1px solid #3a3a3a;
    margin-bottom: 15px;
    border-radius: 3px;
    outline: none;
    padding: 0px 0px 5px 5px;
}

/* Style the login button */

#login-form-submit {
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
}

.alert {
    padding: 20px;
    margin: 5px;
    color: #970020;
    background-color: #ffd5de;
}

/* for map page */
#map {
    position: relative;
    top: 100%;
    width: 1860px;
    height: 400px;
}

#instructions {
    position: sticky;
    margin: 20px;
    width: 25%;
    top: 0;
    bottom: 20%;
    padding: 20px;
    background-color: #fff;
    overflow-y: scroll;
    font-family: sans-serif;
  }

/* just testing this out */

