{% extends 'layout.html' %}

{% block title %}
  Foodie Hub
{% endblock %}

{% block content %}

<main class="container">
  <div class="search-display"></div>
  <div class="posts-container"></div>
</main>
<div class="header_part">
  <h1>LOOKING TO SPICE UP YOUR LIFE <br> LOOK NO FURTHER</h1>
  <div class="button-awesome">
    <a href="" class="btn btn-half">Show me more</a>
    <a href="" class="btn btn-half">I'm hungry</a>
  
  </div>
</div>


<section class="features container">
  <h3 class="text-center">What's Foodie Hub all about? <br> Discover, make, share, and learn!</h3>
  <p class="copy">something about what we do</p>
  <div class="">
    <div class="row">
      <div class="col-md-3">
        <i class="fa fa-certificate"></i>
        <h4>What website achieves</h4>
        <p class="arranging"></p>
      </div>

      <div class="col-md-3">
        <i class="fa fa-camera"></i>
        <h4>Recipe Photos?</h4>
        <p class="arranging"></p>
      </div>

      <div class="col-md-3">
        <i class="fa fa-handshake-o"></i>
        <h4>Being Social?</h4>
        <p class="arranging"></p>
      </div>

      <div class="col-md-3">
        <i class="fa fa-cutlery"></i>
        <h4>Setting Goals?</h4>
        <p class="arranging"></p>
      </div>
    </div>
  </div>
</section>
{% endblock %}

