{% extends 'layout.html' %}

{% block title %}
Foodie Hub
{% endblock %}

{% block content %}

<main class="container-fluid">
  <div class="row p-5">
    <h3 class="text-center">What's Foodie Hub all about? <br> Discover, make, share, and learn!</h3>
  </div>
  <div class="row">
    <p class="text-center copy">Something about what we do. Some quick example text to build on the card title and make
      up the bulk of the card's
      content.</p>
  </div>
  <div class="container p-5 justify-content-evenly">
    <div class="row ">
      <div class="col-lg card m-2">
        <img src="" class="card-img-top" alt="">
        <div class="card-body">
          <i class="fa fa-certificate"></i>
          <h4 class="card-title">What website achieves</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="card-link">link</a>
        </div>
      </div>
      <div class="col-lg card m-2">
        <img src="" class="card-img-top" alt="">
        <div class="card-body">
          <i class="fa fa-camera"></i>
          <h4 class="card-title">Recipe Photos</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="card-link">link</a>
        </div>
      </div>
      <div class="col-lg card m-2">
        <img src="" class="card-img-top" alt="">
        <div class="card-body">
          <i class="fa fa-handshake-o"></i>
          <h4 class="card-title">Being Social</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="card-link">link</a>
        </div>
      </div>
      <div class="col-lg card m-2">
        <img src="" class="card-img-top" alt="">
        <div class="card-body">
          <i class="fa fa-cutlery"></i>
          <h4 class="card-title">Setting Goals</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="card-link">link</a>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}