<header>
    <nav class="row navbar navbar-expand-lg navbar-dark" id="menu">
        <div class="container-fluid">
            <div class="logo">
                <img src="/static/images/logo.png">
            </div>
            <!-- On small screens the navbar toggle button only toggles the dropdown
                but doesn't retract it. Need to fix-->
            <a class="navbar-brand" href="{{ url_for('html') }}" id="logohome">Foodie Hub</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent,#header-text1" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center p-4" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="navrestaurants">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false" href="{{ url_for('recipes') }}">RECIPES</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ url_for('recipes', type='breakfast') }}">BREAKFAST</a>
                            </li>
                            <li><a class="dropdown-item" href="{{ url_for('recipes', type='lunch') }}">LUNCH</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('recipes', type='dinner') }}">DINNER</a></li>
                        </ul>
                    </li>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{ url_for('new_restaurants') }}" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            RESTAURANTS
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ url_for('new_restaurants') }}">PERTH'S BEST</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('hidden_gems') }}">HIDDEN GEMS</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{ url_for('html') }}" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            FOODIE HUB
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ url_for('explore') }}">EXPLORE RECIPES</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('blog') }}">REQUEST A RECIPE</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            {% if current_user.is_anonymous %}
                            <li><a class="dropdown-item" href="{{ url_for('login' ) }}">LOGIN</a></li>
                            {% else %}
                            <li><a class="dropdown-item"
                                    href="{{ url_for('user', username=current_user.username ) }}">Profile</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('logout' ) }}">Logout</a></li>
                            {% endif %}
                        </ul>
                    <li class="nav-item d-lg-none d-xxl-block w-100">
                        <form class="d-flex search-bar form-inline" role="search" action="/search" method="get">
                            <input id="search" type="search" name="query" placeholder="Start searching"
                                list="search-suggestions" autocomplete="off" aria-label="Search" />
                            <datalist id="search-suggestions">
                                <option value="Recipes"></option>
                                <option value="Blog"></option>
                                <option value="Recommendations"></option>
                            </datalist>
                            <button class="btn btn-dark mx-2" type="submit">Search</button>
                        </form>

                    </li>
                </ul>
                {% if current_user.is_anonymous %}
                <div class="d-flex flex-wrap pb-1">
                    <a class="btn btn-outline-light mx-1" style="margin-top: 0.25rem !important;"
                        href="{{ url_for('register' ) }}" id="signingup">Sign up</a>
                </div>
                <div class="d-flex flex-wrap">
                    <a class="btn btn-outline-light mx-1" href="{{ url_for('login' ) }}" id="loginingon">Login</a>
                </div>
                {% else %}
                <div class="d-flex flex-wrap">
                    <a href="{{ url_for('messages') }}" class="btn btn-outline-light mx-1 position-relative">
                        {{ _('Messages') }}
                        {% set unread_message_count = current_user.unread_message_count() %}
                        {% if unread_message_count %}
                        <span class="badge badge-notification attractive-badge">{{ unread_message_count }}</span>
                        {% endif %}
                    </a>
                </div>


                <div class="d-flex flex-wrap">
                    <a class="btn btn-outline-light mx-1" href="{{ url_for('logout' ) }}">Logout</a>
                </div>
                {% endif %}
            </div>
        </div>
        </div>
        </div>
    </nav>

    <div class="row position-absolute pt-5" id="header-text1">
        <h1 class="p-5">LOOKING TO SPICE UP YOUR LIFE?<br> LOOK NO FURTHER</h1>
        <div class="button-awesome p-5">
            <button id="start" class="btn btn-lg btn-half">Start Tour </button>
        </div>
    </div>
</header>