{% extends 'base.html' %}

{% block content %}
<!-- Want to alter this title so it shows as title for the page, and heading below as well -->
<!-- Currently only works when modified via app.py -->
<!--<h1 class="display-1 text-center p-5">Add a new post</h1> -->

<div class="modal p-5" id="exampleModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add a new post</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST">
                    {{ form.csrf_token }}
                    <div class="mb-3">
                        {{ form.title.label }}
                        {{ form.title(class="form-control", placeholder="Post title") }}
                    </div>
                    <div class="mb-3">
                        {{ form.content.label }}
                        {{ form.content(class="form-control", placeholder="Put the content of your post here") }}
                    </div>
                    {{ form.submit(class="btn btn-success mb-3") }}
                    <button type="reset" class="btn mb-3">Clear Form</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    window.addEventListener('DOMContentLoaded', function () {
        var myModal = new bootstrap.Modal(document.getElementById('exampleModal'));
        myModal.show();
    });
</script>

{{mde.js}}

{% endblock %}