{% extends 'base.html' %}

{% block title %}
Find a Restruant
{% endblock %}

{% block content %}
<main class="container-fluid">
    <div class="row p-5">
      <h3 class="text-center"> Looking to try a new restaurant? <hr>  <br> Discover here!  </h3>
    </div>
</main>

<div id="map"></div>

<div class="container p-5 justify-content-evenly">
    <div class="row ">
      <div class="col-lg card m-2">
        <img src="https://static.designmynight.com/uploads/2021/08/lulu-la-delizia-perth-australia-wine-bar-620x413-optimised.jpg" class="card-img-top" alt="">
        <div class="card-body">
          <h4 class="card-title">Lulu La Delizia</h4>
          <h5>97 Rokeby Rd, Perth Western Australia 6008 </h5>
          <p class="card-text">Lulu La Delizia is a  small eatery and wine bar specialising in the premium fresh pasta and the delights of Friuli and the Venetian spice route. Named in honour of our Nonna, Luigia Valvasori, who emigrated to Australia in 1952 from the town of Casarsa della Delizia, Friuli, in the far North-East of Italy, bringing with her the wonderful culinary traditions that make up the heart and soul of our creations.</p>
          <a href="https://lululadelizia.com.au/" class="card-link">Restaurant Website</a>
        </div>
      </div>
      </div>
</div>
{% endblock %}