{% extends 'base.html' %}


{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <div class="flip-card" onclick="this.classList.toggle('flipped');">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img class="card-img-top" src="https://s-media-cache-ak0.pinimg.com/736x/57/98/9f/57989f2a2e186e38bf93429aa395120c.jpg" alt="Gazpacho">
                        <div class="card-body">
                            <h5 class="card-title">Gazpacho</h5>
                            <p class="card-text">Serves: 3 hearty appetites, 4 normal appetites.</p>
                            <p class="card-text"><small class="text-muted">50 mins | 4 servings</small></p>
                        </div>
                    </div>
                    <div class="flip-card-back">
                        <div class="card-body">
                            <h5 class="card-title">Ingredients and Preparation</h5>
                            <p class="card-text">Here you can list the ingredients and steps...</p>
                            <!-- Add the details for ingredients and steps similar to how they were added before -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
