{% extends "base.html" %}

{% block content %}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-4 text-center">
            <img src="{{ user.avatar(128) }}" class="img-fluid user-avatar" alt="User Avatar">
        </div>
        <div class="col-md-8">
            <h1>User: {{ user.username }}</h1>
            {% if user.about_me %}
            <p>{{ user.about_me }}</p>
            {% endif %}
            {% if user.last_seen %}
            <p>Last seen on: {{ user.last_seen }}</p>
            {% endif %}
            <p>{{ user.followers_count() }} followers, {{ user.following_count() }} following.</p>
            {% if user == current_user %}
            <a href="{{ url_for('edit_profile') }}" class="btn btn-primary btn-sm mb-2">Edit your profile</a>
            {% elif not current_user.is_following(user) %}
            <form action="{{ url_for('follow', username=user.username) }}" method="post" class="d-inline">
                {{ form.hidden_tag() }}
                <button type="submit" class="btn btn-dark btn-sm">Follow</button>
            </form>
            {% else %}
            <form action="{{ url_for('unfollow', username=user.username) }}" method="post" class="d-inline">
                {{ form.hidden_tag() }}
                <button type="submit" class="btn btn-dark btn-sm text-white">Unfollow</button>
            </form>
            {% endif %}
            {% if user != current_user %}
            <a href="{{ url_for('send_message', recipient=user.username) }}" class="btn btn-primary btn-sm ml-2">
                {{ _('Send private message') }}
            </a>
            {% endif %}
        </div>
    </div>
    <div class="mt-4">
        {% for post in posts %}
        {% set post_comments = comments[post.id] %}
        {% include '_post.html' %}
        {% endfor %}

        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if prev_url %}
                <li class="page-item pt-4 pb-5">
                    <a class="page-link" href="{{ prev_url }}">Newer posts</a>
                </li>
                {% endif %}
                {% if next_url %}
                <li class="page-item pt-4 pb-5">
                    <a class="page-link" href="{{ next_url }}">Older posts</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
{% endblock %}